name: Tests

on:
  pull_request:
    branches: [ main]

jobs:
  test:
    name: Run Tests
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Run unit tests
        run: uv run pytest tests/ -n auto -m "not integration" -v

      - name: Integration Tests
        if: github.event_name == 'pull_request' && matrix.python-version == '3.12' && matrix.os == 'ubuntu-latest'
        run: uv run pytest tests/ -v
        env:
          ODA_READER_CACHE_DIR: ${{ runner.temp }}/oda_cache
